*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  background-color: rgb(31, 31, 31);
  color: white;
}

.map{
  height: 500px;
}

.info-window{
  color: black;
}

.info-window a{
  color: blue;
}

.map{
  min-height: 500px;
}

select{
  background-color: gray;
}

.cursor-pointer{
  cursor: pointer;
}